<!DOCTYPE html>
<html ng-app="techApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Tech Advisor</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/jquery-2.1.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/pengines.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers.js"></script>
    <script src="app/services.js"></script>
</head>
<body ng-controller="MainCtrl">
<div class="inner cover">
    <h1>Tech Advisor</h1>

    <div>
        <input id="query" ng-model="query" type="text" placeholder="Type a query...">
    </div>
    <div>
        <button id="tech-connect-btn" ng-click="connect()">Connect</button>
        <button id="tech-respond-btn" ng-click="respond()">Respond</button>
        <button id="tech-pull-btn" ng-click="pull()">Pull</button>
    </div>

    <h3>Output</h3>

    <div id="output">
        <li ng-repeat="line in output track by $index">{{line}}</li>
    </div>
</div>
</body>
</html>
